---
layout: default
css-include: /css/main.css
sorted: 1
---

<main aria-label="Content" id="content" class="container">
    <h2 id="download">Download</h2>

    <p>marK development is still in its early stages. While already usable, the project has not issued a stable release yet.</p>

    <p>Pre-release builds and source code are available below.</p>

    <p>We expect developer- and enthusiast-oriented software distributions to pick up marK soon. We’ll update this page with additional links as we are informed of them.</p>

    <h1 id="source-code">Source Code</h1>

    <p>You can browse (and find <code>git clone</code> URLs for) marK’s source code <a href="https://invent.kde.org/education/mark">here</a>.</p>
</main>
