---
layout: default
css-include: /css/main.css
sorted: 1
---

<main aria-label="Content" id="content" class="container">
    <h2>Get involved!</h2>
    
    <h3>Build marK from Sources</h3>
    
    <p>The <a href="https://community.kde.org/Get_Involved/development">community wiki</a> provides resources about settings up your development environment.</p>
    
    <h3>Get in Touch!</h3>

    <p>Most development-related discussions take place on the <a href="http://t.me/mark_kde">Telegram group</a>. Just join in, say hi and tell us what you would like to help us with!</p>

    <h3>Not a Programmer?</h3>

    <p>Not a problem! There’s a plenty of other tasks that you can help us with to
    make marK better even if you don’t know any programming languages!</p>

    <ul>
        <li><a href="https://community.kde.org/Guidelines_and_HOWTOs/Bug_triaging">Bug triaging</a> - help us find
            mis-filed, duplicated or invalid bug reports in Bugzilla</li>
        <li><a href="https://community.kde.org/Get_Involved/translation">Localization</a> - help to translate
            marK into your language</li>
        <li><a href="https://community.kde.org/Get_Involved/documentation">Documentation</a> - help us improve user
            documentation to make marK more friendly for newcomers</li>
        <li><a href="https://community.kde.org/Get_Involved/promotion">Promotion</a> - help us promote marK
            both online and offline</li>
        <li>Do you have any other idea? Get in touch!</li>
    </ul>

</main>
