---
layout: default
css-include: /css/main.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>marK</h1>
                <p>Scientific tool for annotation of machine learning datasets</p>
            </div>
        </div>
    </div>
</section>


<main aria-label="Content" id="content" class="container">
    <h1>{{ site.title }} — {{ site.description }}</h1>
    
    <p><b>marK</b> is a machine learning dataset annotation tool which allows users to annotate multiple types of data to help on the training for supervised classification problems. It currently offers support for images and text annotation, with the possibility of extending for other types of data in the future, such as audios and videos.</p>
    
    <h1>Features</h1>

    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Image Datasets</h2>
                <p style="max-width:900px;">marK supports annotation of image datasets. You can easily create polygons and squares to segment objects in your images, being able to change the colors of your classes and annotate different image formats.</p>
            </div>
            <img src="/assets/img/image_annotation.gif" class="preview">
        </div>
    </div>

    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Text Datasets</h2>
                <p style="max-width:900px;">marK also allows you to annotate text datasets. You can use it for named entity recognition, phrase chunking and named entity linking.</p>
            </div>
            <img src="/assets/img/text_annotation.gif" class="preview">
        </div>
    </div>

    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Import and export annotations in JSON and XML</h2>
                <p style="max-width:900px;">Manage your annotations in JSON and XML formats. You can import annotations that were previously done in marK and overwrite it as you want. It works for all the types of data that are compatible with marK.</p>
            </div>
            <img src="/assets/img/screenshot.png" class="preview">
        </div>
    </div>

</main>
